.banner-wrapper{
  background-size: cover;
  height: 12.5rem; /* 200px */
  color: $font-colour-light;
  position: relative;
  padding: 1.25rem 0;
  h3{
    text-transform: uppercase;
    font-weight: 600;
  }
}
.guide{
  background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("https://www.whatcar.com/car-leasing/images/homepage/lease-dog.jpg") no-repeat center;
}

.advertise{
  background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("https://www.whatcar.com/car-leasing/images/homepage/lease-sign.jpg") no-repeat center;
}
